KAFKA_BOOTSTRAP_SERVER=localhost:9092
KAFKA_GROUP_ID=main
TOPIC_CONSUME_EVENTS=consume
CSRF_ENABLED=True
SESSION_COOKIE_SECURE=True
SYSLOG_HOST=localhost
SYSLOG_PORT=5432
APP_POSTGRESQL_NAME=test_name
APP_POSTGRESQL_USER=user
APP_POSTGRESQL_PASSWORD=password
APP_POSTGRESQL_HOST=localhost
APP_POSTGRESQL_PORT=5432